/*-- Homepage --*/
body,html,
.home-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, serif;
  font-size: 16px;
  position: absolute;
  color: #ffffff;
  background: url("../media/background.jpg")no-repeat 50%/cover;
  }

/*cf codes*
  #home,
  #menu,
  #about-us,
  #services,
  #pics-gallery,
  #contact,
  #footer {
    visibility:hidden;
    opacity: 0;
    top: 77px;
    position: absolute;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .selected {
    visibility:visible !important;
    opacity:1 !important;
    transition: opacity 0.2s, visibility 0.2s !important;
  }
/*working on my different pages*/
  #home{
    display:block;
    position: relative;
    top:0;
    }
  #menu{
    display:block;
    position: relative;
    top:0;
    }
  #about-us{
    display:block;
    position: relative;
    top:0;
  }
  #mobile-menu{
    top:0;
    display:block;
    position: relative;
  }
  #services{
    display:block;
    position: relative;
    top:0;
  }
  #pics-gallery{
    display:block;
    position: relative;
    top:0;
  }
  #contact{
    display:block;
    position: relative;
    bottom: :0;
    }
  #footer{
    display:block;
    position: relative;
    top:0;
  }

/*-- Header --*/

 .header {
  background-color: #c1b3af;
  width:100%;
  height: 70px;
  flex:1 0 0;
  border-bottom: 7px solid #fff;
  position: relative;
}

.logo {
  background: url('../media/idex.png') no-repeat ;
  margin:5px;
  float: left;
  width: 150px;
  height: 58px;
  position: relative;
}
.header-slogan {
  margin-top: 40px;
  margin-left: 44px;
  float: left;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  color: #5f5757;
}

.email {
  display:inline-block;
  float: right;
  font-family: 'Merriweather', serif;
  font-weight: 100;
  margin-top: 20px;
  margin-left: auto;
  letter-spacing: .01em;
}

.email a{
  color: #4c4c4c;
  display: block;
  float: left;body
  margin: 5px;
  padding: 5px 30px 5px 0px;
  text-decoration: none;
}

.email a:visited {
  color:#4c4c4c;
}

.email a:hover {
  color: #ffffff;
}

.email .env{
  margin-right: 7px;
  width: 21px;
  height: 12px;
  float: left;
  margin-top: 7px;
}
.email .env:visited {
  color:#4c4c4c;}

.email .env:hover {
  color: #ffffff;
  }


            /*---------- Home Page Container -------------*/

.home-container .button-menu {
  background: url("../media/arrow_up.png");
  position: absolute;
  padding: 0;
  margin: 0 auto;
  left: 50%;
  top: 5%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  transition: opacity 0.5s;
  opacity: 1;
}

.home-container .button-contact {
    background: url("../media/arrow_down.png");
    position: absolute; /*--changing position "title-position" reletive to absolute and caused these stuff!*/
    padding: 0;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    transition: opacity 0.5s;
    opacity: 1;
}

.home-container .button-services{
  background: url("../media/arrow_right.png");
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -33px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  transition: opacity 0.5s;
  opacity: 1;
}

.home-container .button-about-us {
  background: url("../media/arrow_left.png");
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -33px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  transition: opacity 0.5s;
  opacity: 1;
}

.home-container p{
  font-family: helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  letter-spacing: 1px;
  color: #fff;
  position: relative;
}

.button-menu p{
  margin:0 auto;
  top: 25px;
  margin-left: -5px;
}

.button-contact p{
  margin:0;
  margin-left: -12px;
  bottom: 25px;
}

.button-about-us p{
  margin: 0;
  top: 0;
  left: 25px;
}

.button-services p{
  margin: 0;
  top: 0;
  right: 70px;
}

   /*-------- Design_Quote /in Main Page ------------*/
.home-container .home-title {
    font-family: 'Merriweather', serif;
    position:absolute;
    top:50%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
    font-size:1em;
    font-weight: lighter;
}

.home-title h1{
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: #fff;
  line-height:1px;
}

.home-title span {
  font-family: 'Merriweather', serif;
  font-size:1.6em;
  font-weight: 300;
  color: #fff;
}

/*-----------------------------Menu Page-------------------------------------*/

.menu_container{
  background: url("../media/background.jpg")no-repeat 50%/cover;
  height:100%;
  width:100%;
  position: absolute;
  padding-left: -5%;
}

.menu_container nav{
  height:100%;
  width:100%;
  background: #252b32 50%/cover;
  opacity: 0.97;
  padding: 2% 0;
  border: none;
  top: 0;
  margin: 0 auto;
  position: absolute;
  display:block;
}
.head-menu{
  border-bottom: solid 1px #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  height: 10%;
}
.menu_container h2{
  font-family: "Merriweather", serif;
  font-size: 1.4em;
  color: #fff;
  margin-left: 5%;
  top: 0;
  margin-bottom: 2px;

}

.menu_container .close{
  background: url("../media/close.png")no-repeat 50%/cover;
  height:20px;
  width:20px;
  position: absolute;
  margin-left: 90%;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  transition: opacity 0.5s;
  opacity: 1;
}
.menu_container .close:hover{
  background: url("../media/close_active.png")no-repeat 50%/cover;
  height:20px;
  width:20px;
  margin-left: 90%;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  transition: opacity 0.5s;
  opacity: 1;
}

#menu section a.heading {
  border-bottom:1px solid white;
  padding-bottom:5px;
  max-width: 90%;
}

#menu .menu-left section {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  width: 215px;
  max-width: 300px;
  height: 100%;
  float: left;
  margin-left: 5%;
  margin-right: 2%;
  position: relative;
  }
  #menu .menu-right section {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 30px;
    width: 215px;
    max-width: 300px;
    height: 100%;
    float: right;
    margin-left: 2%;
    margin-right: 5%;
    display: inline-block;
    }

#menu section a {
    display: block;
    margin: 0 5%;
    padding: 15px 0;
    color: #fff;
    padding-top: 10%;
    text-align: left;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2 ease-in-out;
    opacity:.8
    }

#menu section a:hover {
    color: #fff;
    opacity:1;
    cursor: pointer;
    pointer-events: auto;
  }

#menu .social{
  height: 100%;
  width: 100%;
  margin: 0;
  float: right;
  position: relative;
  margin-top: 10px;

}
#menu .facebook{
  height: 22px;
  width: 22px;
  padding: 0;
  background: url("../media/fb.png") no-repeat 50%/cover;
  display: inline-block;
}
#menu .linkedin{
  height: 23px;
  width: 23px;
  padding: 0;
  background: url("../media/ln.png") no-repeat 50%/cover;
  display: inline-block;
}

#menu .twitter{
  height: 22px;
  width: 22px;
  padding: 0;
  background: url("../media/tw.png") no-repeat 50%/cover;
  display: inline-block;
}



/*-------------------------------- about-us page -----------------------------*/
/*-- for about-us body text:  --*/

.about_container{
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Merriweather', serif;
  position: absolute;
  max-width: 100%;
}

.side-menu {
  background-color: #ffffff;
  margin-top: 5%;
  margin-right: 2%;
  width:15%;
  float:left;
  padding-left: 2%;
  padding-right: 2%;
  line-height: 200%;
}

.article {
  background-color: #ffffff;
  margin-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  width:60%;
  float:left;
  border-left: solid 1px #3e454d;
}

.about_container h2 {
  font-weight: 300;
  color: #5f5757;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5%;
  margin-top: 20px;
}

.about_container .side-menu a{
  margin: 0 5%;
  margin-left: 30px;
  font-weight: 100;
  display: inline-block;
  color: #5f5757;
  font-size: 1.1em;
  text-align: left;
  text-decoration: none;
  letter-spacing: 1.2px;
  font-family: 'Merriweather', serif;
  line-height: 2em;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1 ease-in-out;
  opacity:.8
}

.about_container .side-menu a:hover{
    color: #252b32;
    font-weight: bold;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1 ease-in-out;
    opacity:.9
}
.about_container .side-menu a:active{
    color: #252b32;
    font-weight: bold;
  }


.about_container .article p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #252b32;
  font-size: 1.1em;
  letter-spacing: .1em;
  line-height: 170%;
  text-align: left;
}

 .back-about{
   background: url("../media/back_right.png")no-repeat 50%/cover;
   position: absolute;
   top: 50%;
   right: 40px;
   margin-top: -33px;
   margin-right: 2%;
   margin-left: 2%;
   width: 30px;
   height: 30px;
   border: none;
   cursor: pointer;
   pointer-events: auto;
   transition: opacity 0.5s;
   opacity: 1;
 }
 .back-about:hover{
   background: url("../media/back_right_h.png")no-repeat 50%/cover;
   color: #252b32;
   display: block;
   -webkit-transition: .1s ease-in-out;
   -moz-transition: .1s ease-in-out;
   -o-transition: .1s ease-in-out;
   transition: .1 ease-in-out;
   opacity:.9
 }

 .back-about p{
   margin: 0;
   top: 0;
   right: 20px;
   margin-left: 25px;
   color: #5f5757;
   font-size: 1.3em;
   text-decoration: none;
 }

.back-about p:hover{
  color: #252b32;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1 ease-in-out;
  opacity:.9
}


    /*-------------------- Services Page  -----------------------------------*/

#services .services_container{
  height: 100%;
  width: 100%;
  background: url("../media/background.jpg")no-repeat 50%/cover;
  margin: 0;
  font-family: Helvetica, serif;
  position: relative;
  max-width: 100%;
  padding: 0;
}
/*----------------!!!!!Problem solving back home!!!!!!-----------*/
#services .services_container {
  position: relative;
  display: block;
  top: 0;
  left: 10px;
  margin-top: -33px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  transition: opacity 0.5s;
  opacity: 1;
}

.back-services{
  background: url("../media/arrow_left.png") no-repeat 50%/cover;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -33px;
  margin-right: 2%;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  transition: opacity 0.5s;
  opacity: 1;
}

.back-services:hover{
  background: url("../media/back_left_h.png")no-repeat 50%/cover;
  color: #252b32;
  display: block;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1 ease-in-out;
  opacity:.9
}

.back-services p{
  margin: 0;
  top: 0;
  right: 20px;
  margin-left: 25px;
  color: #ffffff;
  font-size: 1.3em;
  text-decoration: none;
}

.back-services p:hover{
 color: #252b32;
 -webkit-transition: .1s ease-in-out;
 -moz-transition: .1s ease-in-out;
 -o-transition: .1s ease-in-out;
 transition: .1 ease-in-out;
 opacity:.9
}

.gallery{
   height: 80%;
   width: 80%;
   background-color: rgba(214,205,205,0.3);
   margin: 0;
   top: 54%;
   font-family: 'Merriweather', serif;
   position: absolute;
   text-align: center;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   color: #ffffff;
   font-size:1em;
   border: solid 5px #ccb9b1;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;

}

.head{
  height: 35px;
  width: 100%;
  background-color: #52565c;
  margin:0;
}

.head:hover{
  background-color: #3e454d;
  cursor: pointer;
  pointer-events: auto;
}

.head h3 {
margin-top:7px;
text-align:left;
padding-left:10px;
letter-spacing: .1em;
font-family: 'Merriweather', serif;
font-weight: 100;
font-size: 1em;
color: #ffffff;
padding-bottom: 2px;
line-height: 1.5;
}


.head h3:hover {
margin-top:7px;
font-weight: normal;
font-family: 'Merriweather', serif;
font-weight: 300;
color: #ffffff;
}


.first, .second, .third{
  height: 33%;
  width: 100%;
  margin: 0;
  position: relative;
}

.sd, .bv {
    display: inline-flex;
    margin:20px;
    height: 100%;
    top: 50px;
    padding: 0;
    border-color: #b8adae;
}

 .sd{
    background: url("../media/service.jpg") no-repeat 50%/cover;
    width: 58%;
    height: 100%;
    margin: 0;
}

 .bv{
    background: url("../media/python_branding.jpg") no-repeat 50%/cover;
    width: 40%;
    height: 100%;
    margin: 2px;
}

 .tt, .ed{
    display: inline-flex;
    height: 35%;
    top:0;
    padding: 0;
    border: 2px;
    border-color: #b8adae;
}

  .tt{
    background: url("../media/teaching.jpg")no-repeat 50%/cover;
    width: 37%;
    height: 100%;
    margin: 2px;
}

  .ed{
    background: url("../media/exhibit.jpg")no-repeat 50%/cover;
    width: 61%;
    height: 100%;
    margin: 2px;
    }

  .rh, .sp{
    display: inline-flex;
    height: 35%;
    top:0;
    padding: 0;
    border: 2px;
    border-color: #b8adae;
    }

  .rh{
    background: url("../media/research.jpg")no-repeat 50%/cover;
    width: 31%;
    height: 100%;
    margin: 2px;
    }

  .sp{
    background: url("../media/PRODUCT.jpg")no-repeat 50%/cover;
    width: 67%;
    height: 100%;
    margin: 2px;
    }


/*---------------------- Services Gallery Page_inside --------------------------*/

 #pics-gallery section {
     width: 100%;
     height: 100%;
     margin: 0 auto;
     padding: 10px;
     display: block;
 }

 .one {
     width: 25%;
     height: 500px;
     background: #dfd9d8;
     float: left;
 }

 .two {
     margin-left: 15%;
     height: 500px;
     background: rgba(214,205,205,0.7);
 }

 .one .content h2{
   color: #2b3037;
   font-family: 'Roboto', serif;
   font-weight: 300;
   padding-left: 20px;
   font-size: 1.2em;
 }

 .one .content p{
  color: #2b3037;
  height: 80%;
  width: 80%;
  font-family: 'Roboto', serif;
  font-weight: 300;
  padding: 20px;
  margin: 5px;
  line-height: 1.6em;
  letter-spacing: .1em;
  text-align: left;
}

 #pics-gallery .head {
    height: 34.5px;
    width: 100%;
    background-color: #52565c;
    margin:0;
    position: relative;
    padding-top:.5px;
    }



    /****---------------------  Contact Us Page -------------------------*****/
/*Form*/
#contact {
	width:100%;
	height:100%;
	margin 0 auto;
	background: #ffffff;
  position: absolute;
 }

#contact .contact-container, .add {
	width:40%;
	height:auto;
	margin: 5% auto;
  position: relative;
  display: inline-block;
  float: left;
  margin-bottom: 5%;
}

#contact .add{
  border-right: 1px solid #605858;
  padding-right: 2%;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 7%;
  letter-spacing: 0.1px;
}

#contact .contact-container{
  width: 250px;
  padding-left: 14%;
  margin-right: 10%;
  padding-bottom: 30px;
}

#contact .contact-container form input,
#contact .contact-container form textarea {
	width:97.4%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#d6cdcd;
	letter-spacing:1px;
	background: #ffffff;
	border: 2px solid #D6CDCD;
	margin-bottom:25px;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
}

#contact .contact-container form input:focus,
#contact .contact-container form textarea:focus {
	border:2px solid #ffffff;
	color:#5e737f;
}

#contact .contact-container form textarea {
	height:150px;
}

#contact .contact-container form .submit {
	  width: 50%;
	  padding: 5px 10px;
	  font-size: 12px;
    letter-spacing: 1px;
		background: #605858;
	  height: 40px;
	  text-transform: uppercase;
	  letter-spacing: 1px;
	  color: #ffffff;
	  float: right;
	  border: 1px solid #d6cdcd;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
}

#contact .contact-container form .submit:hover {
	color:#ffffff;
	border:2px solid #252b32;
	background: #252b32;
	cursor:pointer;
}

#contact .contact-container form .required {
	color:#252b32;
}

/*-------Address+Map------------*/

.add .map{
  background: url(../media/map.png)no-repeat 50%/cover;
  width: 340px;
  height: 222px;

}

.add p{
  width: 70%;
  height: 50%;
  color: #2b3037;
  margin-left: 5%;
}

    /****--------------------------  Footer  -----------------------------*****/

.footer-nav{
  height: 70px;
  width: 100%;

  background-color: #5e737f;
  margin: 0;

}

#footer {
  width:100%;
  position:relative;
  clear:both;
  top:520px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.copyright{
  width: 33%;
  height: 50px;
  display: inline-block;
  flex-wrap: wrap;
  float: left;
  margin-top:25px;
}

.copyright a{
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: .03em;
  color: #ffffff;
  opacity:1;
  text-decoration: none;
}

.copyright a:hover{
  font-size: 1em;
  font-weight: 100;
  color: #252b32;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1 ease-in-out;
  opacity:.8;
}

.pages-links{
  width: 50%;
  height: 10px;
  position: relative;
  display: inline-flex;
  padding: 0;
  margin-top:25px;
}

.pages-links a{
  width: 20%;
  color: #ffffff;
  font-size: 1em;
  font-weight: lighter;
  border-right: 1px solid #ffffff;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 3px;
  text-decoration: none;
  letter-spacing: .1em;
}

.pages-links a:hover{
  color: #252b32;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1 ease-in-out;
  opacity:1;
}
.pages-links a::after{
  border-right: 1px solid #5e737f;
}

.follow{
  width: 20%;
  height: 34px;
  position: relative;
  flex-wrap: wrap;
  float: right;
  padding: 4px;
  margin-top:15px;
}

.follow .facebook{
  height: 22px;
  width: 22px;
  background: url("../media/fb.png") no-repeat 50%/cover;
  display: inline-block;
  margin-right: 8px;
}
.follow .facebook:hover{
  background:url("../media/fb_h.png")50%/cover;
}

.follow .linkedin{
  height: 23px;
  width: 23px;
  background: url("../media/ln.png") no-repeat 50%/cover;
  display: inline-block;
  margin-right: 8px;
}
.follow .linkedin:hover{
background: url("../media/ln_h.png")no-repeat 50%/cover;
}

.follow .twitter{
  height: 22px;
  width: 22px;
  background: url("../media/tw.png") no-repeat 50%/cover;
  display: inline-block;
}
.follow .twitter:hover{
  background: url("../media/tw_h.png")no-repeat 50%/cover;
}

#mobile-menu {
  display:none;
}

/*RESPONSIVE*/

/*-------Tablet:iPad----------*/
@media (max-width:768px){

  html,.home-container {
    height: 1024px;
  }


  /*---Homepage----*/

  .home-container p{
    font-size: 1.5em;
  }

  .home-container .home-title{
    font-size: 1em;
  }

  /*-----Menu------*/

  .menu_container .head-menu{
    height: 5%;
  }

  .menu_container nav{
    padding:0;
  }

  .menu_right{
  margin-left: 0;
  padding: 0;
  float:left;

  }
  .menu_container section a{
    margin: 0 2%;
  }

  .menu_container a{
    font-size: 0.5em;
  }
  /*About*/

  #about-us{

  }
  .side-menu{
    width: 22%;
    line-height: 50px;
    padding-right: 0;
    line-height: 4.0em;
    font-size: 1em;
  }

  #about-us .back-about{
    display: none;
  }
  .article{
    float:right;
  }

  /*Services*/

  #services{

  }
  /*Services Gallery*/


  /*Contact*/
  #contact .contact-container, .add {
  	width:50%;
    position: relative;
  }

  #contact .add{
    border-right:none;
    border-bottom: 1px solid #605858;
    margin: 0;
    padding-bottom: 50px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;

  }
  #contact .contact-container{
    margin: 0;
    padding: 0;
    display: inline-block;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
  }
}


  /*---------mobile:iPhone---------*/
@media (max-width:750px) {
  body,html,.home-container{
  width:100%;
  height: 1300px;
  top:0;
  }

  .home-container .button-menu,.button-contact,.button-services,.button-about-us{
    display: none;
  }
  .home-container .home-title{
    top: 0;
    margin: 25%auto;
  }

  #mobile-menu {
    display:block;
    height:100%;
    width:100%;
  }

  #header {
    height:200px;
    text-align:center;
  }

.email {
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);    display:block;
    float:none;
  }

  #header .logo {
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
  }

  #menu {
    display:none;
  }
  #mobile-menu {
    display:block;
    width:100%;
    height:300px;
    z-index:2000;
    position:absolute;
    top:50%;
    right:0;
    font-family: 'Merriweather', serif;
    font-weight: 300;
  }

  .mobile-about,.mobile-services,.mobile-contact{
    background-color: #2a2f36;
    background-size: 30px;
    width: 100%;
    height: 65px;
    cursor: pointer;
    pointer-events: auto;
    transition: opacity 0.5s;
    opacity: 1;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: .1em;
    color: #ffffff;
    position: relative;
    margin: 0;
    margin-bottom: 10px;  }

  .mobile-follow{
    width: 100%;
    height: 10px;
    float: right;
    position: absolute;
    display: block;
    padding: 0;
    left: 38%;
    margin-top:25px;
  }

  .mobile-fb{
    background: url("../media/fb_h.png") no-repeat 50%/cover;
    margin: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .mobile-fb:hover{
    background: url("../media/fb.png") no-repeat 50%/cover;
  }

  .mobile-tw{
    background: url("../media/tw_h.png")no-repeat 50%/cover;
    margin: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .mobile-tw:hover{
    background: url("../media/tw.png")no-repeat 50%/cover;
  }

  .mobile-li{
    background: url("../media/ln_h.png") no-repeat 50%/cover;
    margin: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .mobile-li:hover{
    background: url("../media/ln.png") no-repeat 50%/cover;
  }


  .add p{
    width:80%;
  }

    /*About*/
   .about_container .about-head{
     background-color: #2b3037;
     width: 100%;
     height: 60px;

   }
   .about_container h2{
     font-size: 1.5em;
     padding-left: 40%;
     color: #ffffff;
     margin-top: 2%;
     padding-top: 2%;
   }

  .side-menu{
    background-color: #3e454d;
    width: 100%;
    line-height: 50px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.4em;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 2% auto;
    justify-content: space-between;
    }

  .about_container .side-menu a{
    color: #ffffff;
    width: 33%;
    height: 70px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-left: 2%;

  }


  .article {
    font-family: helvetica;
    padding-left: 9%;
    padding-right: 7%;
    padding-top: 4%;
    width:75%;
    float:left;
    font-size: 1.2em;
    letter-spacing: .11em;
    line-height: 1.7em;
    border: none;
  }


    /*Services*/

    /*Services Gallery*/


    /*Contact*/

  /*Footer*/

    #footer{
      height: 150px;

    }



}
